@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&display=swap');

:root{

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'IBM Plex Serif', serif;
    margin: auto;
    width: 70vw;
}
header{
    margin-top: 1rem;
    border: 1px solid black;
    background-color: gray;
}
h2{
    margin:1rem;
    border: 1px solid black;
    background-color: #188228;

}
main{
    display: flex;
    border: 1px solid rgb(172, 157, 157);
    /* box-shadow: 5px 10px black; */
}
.container1{
    width: 50%;
    margin:0.5rem;

}
.container2{
    width: 50%;
    padding: 0.2rem;
    text-align: center;

    
}
label,input{
    margin-bottom: 1rem;
}
input{
display: block;
width: 100%;
text-align:justify;
}
/* button */

#btn{
padding: 0.3rem;
background-color: black;
    color: white;
}
/* output */
#output{
    font-weight: bold;
    font-size: 11px;
    word-wrap: break-word;
    padding:0.3rem ;
    border-radius: 0.3rem;
    border: 1px solid black;
}
/* footer*/
.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding-right: 0.5rem;
}
.invalid{
    background-image : url('invalid.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
.profit{
    background-image : url('profit.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.loss{
    background-image : url('loss.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.safe{
    background-image : url('safe.png');
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}


 .footer {
    background-color: var(--primary-color);
    /* padding: 2rem 1rem; */
    /* text-align: center; */
    color:black;
    border-top-right-radius: 1rem;
}

.footer .link {
    color:black;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}
